<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>950186901166-2pii2go9du95de786p3ecuhe9p3kgn3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950186901166-2pii2go9du95de786p3ecuhe9p3kgn3v</string>
	<key>API_KEY</key>
	<string>AIzaSyB42F6NH0Qr8c3XnCDT2fepfxzBBRHFsrg</string>
	<key>GCM_SENDER_ID</key>
	<string>950186901166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MyWonderfulApps.EWindmills</string>
	<key>PROJECT_ID</key>
	<string>windmills-5408b</string>
	<key>STORAGE_BUCKET</key>
	<string>windmills-5408b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:950186901166:ios:0827e201803fba7a</string>
	<key>DATABASE_URL</key>
	<string>https://windmills-5408b.firebaseio.com</string>
</dict>
</plist>